<div class="details">
    {{#if activity.imageUrl}}
        <img class= "edit-image" src="{{activity.imageUrl}}" alt="{{activity.title}}" />
    {{else}}
        <img  class= "edit-image" src="/images/barbecue.png" />
    {{/if}}

    <label class="detailsLabel"> Title:
        {{activity.title}}    
    </label>

    <label class="detailsLabel"> Description:
        {{activity.description}}
    </label>

    <label class="detailsLabel"> Meeting Point:
        {{activity.meetingPoint}}
    </label>

    <label class="detailsLabel"> Start Date:
        {{activity.formattedDate}}
    </label>
    
    <label class="detailsLabel"> Contact Person:
        {{activity.author.username}}
    </label>

    <label class="detailsLabel"> Attendants:
        {{#each activity.attendants}}
            {{username}}
        {{/each}}
    </label>

    <form action="/activities/{{activity._id}}/book" method="POST" class="booking">
        <button class="bookingButton" type="submit">Book Activity</button>
    </form>

</div>
