<h2>Activity Details</h2>


<div class="details">
    {{#if activity.imageUrl}}
    <img src="{{activity.imageUrl}}" alt="{{activity.title}}" />
    {{/if}}
    <br><br>

    <label class="editLabel"> Title:
        {{activity.title}}    
    </label>

    <label class="editLabel"> Description:
        {{activity.description}}
    </label>

    <label class="editLabel"> Meeting Point:
        {{activity.meetingPoint}}
    </label>

    <label class="editLabel"> Start Date:
        {{activity.startDate}}
    </label>
    
    <label class="editLabel"> Contact Person:
        {{activity.author.username}}
    </label>

    <label class="editLabel"> Attendants:
        {{#each activity.attendants}}
            {{username}}
        {{/each}}
    </label>


    <form action="/activities/{{activity._id}}/book" method="POST" class="booking">
        <button type="submit">Book Activity</button>
    </form>

</div>

<a href="/activities/list">Back To List</a>