<div id="create">
    <h3>Edit an Activity</h2>

        <form class="create-form" action="/activities/{{activity._id}}/edit" method="post"
            enctype="multipart/form-data">
            <div class="create">
                <label class="editLabel"> Title:
                    <input class="edit-field" type="text" name="title" value={{activity.title}} />
                </label>

                <label class="editLabel"> Description:
                    <div>
                        <textarea class="edit-field" name="description" cols="30"
                            rows="4">{{activity.description}}</textarea>
                    </div>
                </label>

                <label class="editLabel"> Start Date:
                    <input class="edit-field" type="date" id="start" name="startDate" value={{activity.startDate}}
                        min="2021-08-09" max="3000-08-09">
                </label>

                <label class="editLabel"> Meeting Point:
                    <input class="edit-field" type="text" name="meetingPoint" value={{activity.meetingPoint}} />
                </label>

                <label>Image:
                    <input class="edit-field" type="file" name="activity-image" class="form-control-file" />
                </label>

                <button class="create-button" type="submit"> Edit </button>
            </div>
            
        </form>
</div>