<h2>Edit an Activity</h2>
 
<form action="/activities/{{activity._id}}/edit" method="post">
    <div class="edit">
        <label class="editLabel"> Title:
            <input type="text" name="title" value={{activity.title}} />
        </label>
        
        <label class="editLabel"> Description:
            <textarea name="description" cols="30" rows="4"> </textarea>
        </label>
        
        <label class="editLabel"> Image:
            <input id="fileElem" name="image" type="file" size="50" accept="image/*" value={{activity.image}}> 
        </label>

        <label class="editLabel"> Start Date:
            <input type="date" id="start" name="startDate"
                value={{activity.startDate}}
                min="2021-08-09" max="3000-08-09">
        </label>

        <label class="editLabel"> Meeting Point:
            <input type="text" name="meetingPoint" value={{activity.meetingPoint}} />
        </label>

        <label>Image:
          <input type="file" name="activity-image" class="form-control-file" />
          <input type="text" name="existingImage" hidden value="{{activity.imageUrl}}">
        </label>
    </div>
  <button type="submit"> Edit </button>
</form>
