<nav class="nav">
    <a href="/activities/list">List</a>
    <a href="/activities/create">Create</a>
    <a href="/auth/logout">Logout</a>
</nav>
<title>Acivities List</title>
<div class="list-content">
    <h2>Acivities List</h2>

    <div class="list">
        {{#each activities}}
            <form action="/activities/{{id}}/delete" method="POST">
                {{title}}
                {{description}}
                {{author.username}}
                {{meetingPoint}}

                <a href="/activities/{{_id}}/details">Details</a>
                <a href="/activities/{{_id}}/edit">Edit</a>
                <a href="/activities/{{_id}}/book">Book</a>
                <button>Delete</button>
            </form>
        {{/each}}
    </div>
</div>
