<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>{{title}}</title>
   {{!-- bootstrap --}}
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
   <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
   <div>
      {{#if user}}
      <div class="username">
         <img class="bird-img" src="/images/smaller-bird.png"></img>
         <h4 class="welcome"> Welcome {{user.username}}</h4>
      </div>
      {{else}}
      <div class="username">
         <img class="bird-img" src="/images/smaller-bird.png"></img>
         <h4 class="welcome"></h4>
      </div>
      {{/if}}
   </div>
   <div class="title-container">
      <img class="logo" src="/images/logo.png" alt="logo" />
      <h1 class="title">{{title}}</h1>
      <img class="logo" src="/images/logo.png" alt="logo" />
   </div>

   </h4>
   <nav class="nav">
      <ul class="nav justify-content-center">
         <li class="nav-item">
            <a class="nav-link" href="/">Actitivies List</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="/activities/create">Create</a>
         </li>
         <li class="nav-item">
            {{#if user}}
            {{else}}
               <a class="nav-link" href="/login">Login/Signup</a>
            {{/if}}
         </li>
         <li class="nav-item">
            {{#if user}}
            <a class="nav-link" href="/logout">Logout</a>
            {{/if}}

         </li>
      </ul>
   </nav>

   {{{body}}}

   <script src="/js/script.js"></script>

</body>

</html>